.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
     
}

.flex-container > img {
    height: 500px;
    width: 75%;
    align-items: center;
    border: solid black;
}

.flex-container > div {
    display: grid;
    position: absolute;
    background-color: lightgreen;
    border: solid black;
    top: 40%;
    font-size: 25px;
    height: 30px;
    
}
